.form-section {
    background-color: #f8f9fa;
  }
  
  .text-gradient-primary {
    background: linear-gradient(90deg, #214aaa, #5271d7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .form-label {
    color: #495057;
    display: block;
  }
  
  .input-group-text {
    transition: all 0.3s ease;
  }
  
  .form-control, .form-select {
    border-left: 0 !important;
    padding: 0.75rem 1rem;
    transition: all 0.3s ease;
  }
  
  .form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: #dee2e6;
  }
  
  .form-control:focus + .input-group-text, 
  .form-select:focus + .input-group-text {
    color: #214aaa;
  }
  
  .hover-effect {
    transition: all 0.3s ease;
  }
  
  .hover-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(33, 74, 170, 0.3) !important;
  }
  
  @media (max-width: 768px) {
    .form-section {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }