
    <main>
        <div class="header-section">
            <div class="max-w-4xl mx-auto text-center">
                <h2 class="display-4 fw-bold mb-4 animate__animated animate__fadeInDown">Testimonios de nuestros clientes</h2>
                <p class="lead mb-5 fs-3 animate__animated animate__fadeIn animate__delay-1s">Descubra lo que nuestros clientes tienen que decir sobre nuestros servicios financieros y cómo hemos transformado sus vidas.</p>
            </div>
        </div>
        <section class="testimonios-section">
            <div class="testimonios-container">
                <div class="testimonio-card">
                    <div class="card-header">
                        <div class="avatar">
                            <img src="assets/user-women.jpg" alt="María López">
                        </div>
                        <div class="client-info">
                            <h3 style="color: #fff;">Carmen Rodriguez</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="testimonio-text">
                            "Desde que estamos aquí en Vamos a Mejorar, pues he salido adelante, he hecho muchas cosas,
                            pues mí negocio va creciendo más y más."
                        </div> 
                    </div>
                    <div class="card-footer">
                        <div class="date">15 Ene, 2024</div>
                    </div>
                </div>

                <div class="testimonio-card">
                    <div class="card-header">
                        <div class="avatar">
                            <img src="assets/user-man.jpg" alt="Carlos Rodríguez">
                        </div>
                        <div class="client-info">
                            <h3 style="color: #fff;">Carlos Rodríguez</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="testimonio-text">
                            "Buenos días, mire, yo le estoy muy agradecido con la financiera porque tiene todos los servicios económicos eficientes tanto para ayudarnos en lso casos de seguro como en los casos de préstamo. Estamos muy agradecidos mi grupo y yo."
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">2 Mar, 2024</div>
                    </div>
                </div>

                <div class="testimonio-card">
                    <div class="card-header">
                        <div class="avatar">
                            <img src="assets/user-women.jpg" alt="Patricia Gutiérrez Méndez">
                        </div>
                        <div class="client-info">
                            <h3 style="color: #fff;">Patricia Gutiérrez Méndez</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="testimonio-text">
                            "Comencé con un pequeño negocio. Vamos a Mejorar me ha llevado a abrir nuevas puesrtas, a un
                            camino diferente."
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">10 Feb, 2024</div>
                    </div>
                </div>

                <div class="testimonio-card fila-2">
                    <div class="card-header">
                        <div class="avatar">
                            <img src="assets/user-man.jpg" alt="Jorge Sánchez">
                        </div>
                        <div class="client-info">
                            <h3 style="color: #fff;">Jorge Sánchez</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="testimonio-text">
                            "Nada más para darles las gracias por este apoyo que se nacio por el fallecimiento de mi mamá, entonces pues ets edinero nos va a servir de mucho para recuperar algo de los que fue su traslado hasta Veracruz y lo que fueron sus gastos funerarios.
                            De verdad muchas gracias, se les agradece, no tengo más palabras que eso"
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">28 Ene, 2024</div>
                    </div>
                </div>

                <div class="testimonio-card fila-2 ">
                    <div class="card-header">
                        <div class="avatar">
                            <img src="assets/user-women.jpg" alt="Ana Torres">
                        </div>
                        <div class="client-info">
                            <h3 style="color: #fff;">Ana Torres</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="testimonio-text">
                            "Pues considero que es bastante bueno porque, por ejemplo, ahorita tengo los gastos funerarios y algunas otras cosas que pagar, entonces si me ayuda, o sea, con esto alcanzo a cubrir gastos funerarios"
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">5 Mar, 2024</div>
                    </div>
                </div>
            </div>
        </section>
    </main>