.bg-gradient-primary {
    background: linear-gradient(135deg, #2d1f70 0%, #2d1f70 100%);
  }
  
  .text-gradient-primary {
    background: linear-gradient(90deg, #2d1f70, #2d1f70);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .divider {
    width: 80px;
    height: 4px;
    border-radius: 2px;
  }
  
  .hover-transform {
    transition: all 0.3s ease;
  }
  
  .hover-transform:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
  }
  
  .icon-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .py-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .bg-purple {
    background-color: #2d1f70;
  }
  
  .text-purple {
    color: #2d1f70;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }

  
.nav-link.active {
  background-color: #2d1f70;
  color: white !important;
  font-weight: bold;
}


.badge-custom {
    background-color:#2d1f70;
    color:  #f8f9fa;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 1.5rem;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(45, 31, 112, 0.3);
}