
<div class="comunidad-container-fluid">
    <!-- Contenido con z-index superior -->
  <div class="header position-relative py-4" style="z-index: 2;">
      <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
              <h1 class="display-4 fw-bold mb-4 animate__animated animate__fadeInDown">
                  Apoyo a la Comunidad
              </h1>
              <div class="divider mx-auto bg-white mb-4 animate__animated animate__fadeIn"></div>
              <p class="lead mb-5 fs-3 animate__animated animate__fadeIn animate__delay-1s" style="color: #ffffff;">
                  Innovación, compromiso y servicio personalizado para impulsar tus proyectos y mejorar tu calidad de vida
              </p>
          </div>
      </div>
  </div>
  <div class="container-fluid">
    <div class="contenedor-secciones">
      <!-- Tarjetas generadas dinámicamente -->
      <div class="seccion" *ngFor="let tarjeta of tarjetas; let i = index">
        <div class="card" (click)="flipCard($event, i)">
          <div class="card-front">
            <div class="card-image">
              <img [src]="tarjeta.imagen" class="card-img-top" [alt]="tarjeta.titulo">
              <div class="card-body">
                <h5 class="card-title">{{ tarjeta.titulo }}</h5>
                <p class="card-text">{{ tarjeta.descripcion }}</p>
                <!-- contenedor de iconos -->
                <div class="iconos">
                  <img *ngFor="let icono of tarjeta.contenido.iconos"
                      [src]="icono"
                      class="icono"
                      alt="icono ODS">
                </div>
              </div>
            </div>
          </div>
          <div class="card-back">
            <div class="card-back-content">
              <h3 class="card-back-title mb-3">{{ tarjeta.contenido.titulo }}</h3>
              <p>{{ tarjeta.contenido.descripcion }}</p>
              <p *ngIf="tarjeta.contenido.detalles">{{ tarjeta.contenido.detalles }}</p>
            </div>
            <button type="button" class="btn btn-primary" (click)="abrirModal(tarjeta)">
              Ver más información
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="mostrarModal" (click)="cerrarModal()"></div>

<div class="modal" [class.show]="mostrarModal" *ngIf="mostrarModal && modalSeleccionado">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ modalSeleccionado.contenido.titulo }}</h5>
      <button type="button" class="btn-close" (click)="cerrarModal()">×</button>
    </div>

    <div class="modal-body">
      <p>{{ modalSeleccionado.contenido.descripcion }}</p>

      <div *ngIf="modalSeleccionado.contenido.impacto">
        <br>
        <h5 class="fw-bold">Impacto</h5>
        <p>{{ modalSeleccionado.contenido.impacto }}</p>
      </div>

      <div *ngIf="modalSeleccionado.contenido.detalles">
        <h6 class="fw-bold">Detalles</h6>
        <p>{{ modalSeleccionado.contenido.detalles }}</p>
      </div>
      <ul *ngIf="modalSeleccionado.contenido.lista" class="lista-indentada">
        <li *ngFor="let item of modalSeleccionado.contenido.lista" >
          <a [href]="item.enlace" target="_blank" rel="noopener noreferrer" class="fw-bold">
            {{ item.texto }}
          </a>
          <p class="text-muted medium mb-2">{{ item.descripcion }}</p>
        </li>
      </ul>

      <div *ngIf="modalSeleccionado.contenido.web">
        <br>
        <div *ngFor="let w of modalSeleccionado.contenido.web">
          <h5>{{ w.texto }}</h5>
          <a [href]="w.enlace" target="_blank" rel="noopener noreferrer" class="fw-bold">
            {{ w.enlace }}
          </a>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>
