/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
 


  
  /* Transición suave al hacer scroll */
  html {
    scroll-behavior: smooth;
    
  }

  body {
    color: #2d3e4f; /* Color de texto principal más suave */
    background-color: #ffffff;
}