<section class="chatbot">
  <!-- Burbuja -->
<div class="chat-bubble" *ngIf="!isChatOpen && isBubbleVisible">
  <button class="bubble-close" (click)="isBubbleVisible = false">
    &times;
  </button>
  Hola, soy <strong>Prestamoso</strong>, el asistente virtual de <em>Vamos A Mejorar</em>. <strong>  ¿Tienes dudas? </strong>
</div>



  <!-- Botón del chat -->
  <div class="chat-button" (click)="toggleChat()" *ngIf="!isChatOpen">
    <video autoplay loop muted playsinline>
      <source src="assets/Chatbot.mp4" type="video/mp4" />
      Tu navegador no soporta videos.
    </video>
  </div>

  <!-- Widget del chat -->
  <div *ngIf="isChatOpen" class="chat-widget">
    <div class="chat-header">
      <div class="avatar-container">
        <div class="header-text">
        </div>
      </div>

      <button class="close-button" (click)="toggleChat()">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M18 6L6 18M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <iframe
      src="https://marco98p3.pythonanywhere.com/"
      class="chat-iframe"
      allow="microphone"
      title="Chatbot"
      scrolling="no"
      frameborder="0"
    ></iframe>
  </div>
</section>
